layout {
    new_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane split_direction="vertical" {
        pane command="nvim" {
            size "50%"
            cwd "~/Documents/Timetrack/"
            args "timesheet.time"
        }
        pane {
            pane command="worked-today-desktop.sh" {
                args "-c"
            }
            pane
        }
    }
}
